html, body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  font-family: Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding: 0;
  background: #ffffff;
}

.callout {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 61px;
  padding: 10px 60px;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.callout a {
  text-decoration: none;
  color: white;
}

section {
  width: 100%;
  height: 100%;
  float: center;
}
section:hover article {
  width: 30%;
}
section article {
  cursor: pointer;
  width: 50%;
  height: 100%;
  padding: 7% 20px 10%;
  float: left;
  position: relative;
  text-align: center;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
section article:hover {
  width: 70%;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  opacity: 1;
}
section article:hover:before {
  opacity: 1;
}
section article:hover > h1 {
  opacity: 1;
}
section article:hover > h2 {
  transition: all 250ms ease-in-out;
  writing-mode: horizontal-tb;
  text-orientation: mixed;
}
section article:nth-child(1) {
  background: url(/images/Menu.png) center center;
}
section article:nth-child(1):hover {
  background: url(/images/Menu2.png) center center;
}
section article:nth-child(2) {
  background: url(/images/Deco.png) center center;
}
section article:nth-child(2):hover {
  background: url(/images/Deco2.png) center center;
}
section article h1 {
  font-family: "dancing script";
  font-size: 50px;
  margin: 0 0 40px;
  padding-top: 20px;
  display: none;
  opacity: 0;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section article h1 p {
  display: inline-block;
  margin-top: 3rem;
  font-size: 20px;
  padding: 10px;
  font-weight: 200;
  color: white;
  outline: solid white 1px;
  outline-offset: 5px;
}
section article h1 p a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  outline: solid white 1px;
  outline-offset: 5px;
}
section > h1:after {
  content: "";
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: -15px;
  left: 0;
  text-transform: uppercase;
  width: 100%;
}

h2 {
  font-size: 50px;
  margin: 0 0 40px;
  padding-top: 5rem;
  opacity: 1;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 2;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/*# sourceMappingURL=style.css.map */
